@import url('pygment_trac.css');

@font-face {
  font-family: 'Nauman';
  src: url('Nauman-Regular-webfont.eot');
  src: url('Nauman-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('Nauman-Regular-webfont.woff') format('woff'),
       url('Nauman-Regular-webfont.ttf') format('truetype'),
       url('Nauman-Regular-webfont.svg#naumanregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/******************************************
 * General elements
 ******************************************/
body {
  background-color: #adc4b2;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Nauman, Verdana, Sans-Serif;
  font-size: 110%;
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-size: 130%;
}

pre, code {
  font-family: Source Code Pro, monospace;
  font-size: 15px;
  line-height: 140%;
}

fieldset, pre {
  border: 1px solid #cec6d4;
  background-color: #f1edf6;
  overflow: auto;
  width: 90%;
  margin: 10px auto;
  padding: 10px 20px;
}

pre code {
  color: black;
  font-size: 15px;
  display: block;
}

code {
  font-size: 18px;
  color: #296643;
  margin: 0;
  padding: 0;
}

/******************************************
 * Specific page elements
 ******************************************/
#page-wrapper {
  margin:0 auto;
  padding: 0 8% 8% 8%;
  width: 70%;
  background-color: #fff;
  box-shadow: 0 0 30px 5px #333;
  -moz-box-shadow: 0 0 30px 5px #333;
  -webkit-box-shadow: 0 0 30px 5px #333;
  border-radius: 12px;
  -moz-border-radius: 12px;
}

#header {
  background: #fff url('../images/passay.png') no-repeat 50% 10px;
  height: 130px;
}

#menu {
  margin: -40px 0 30px 0;
  border-top: 1px solid #cec6d4;
  font-family: Nauman, Verdana, Sans-Serif;
  font-size: 18px;
  text-align: center;
}

#menu a {
  color: #6e6881;
  text-decoration: none;
  padding: 5px 18px;
}

#content {
  line-height: 125%;
  font-family: Rosario, Helvetica, Sans-Serif;
  font-size: 20px;
}

#footer {
  margin: 24px 0;
  font-family: Nauman, Verdana, Sans-Serif;
  font-size: 14px;
  line-height: 125%;
  text-align: center;
}

#footer p {
  margin:2px 0;
}
