<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="passay" verbose="1" parallel="tests" thread-count="1">

  <!-- passay test parameters -->
  <parameter name="dictionaryFile" value="src/test/resources/web2-gt3"/>
  <parameter name="digestDictionaryFile" value="src/test/resources/sha1s.txt"/>

  <!-- dictionary test parameters -->
  <parameter name="webFile" value="src/test/resources/web2"/>
  <parameter name="webFileSorted" value="src/test/resources/web2.sort"/>
  <parameter name="webFileLowerCase" value="src/test/resources/web2.lc"/>
  <parameter name="webFileLowerCaseSorted" value="src/test/resources/web2.lc.sort"/>
  <parameter name="fbsdFile" value="src/test/resources/freebsd"/>
  <parameter name="fbsdFileSorted" value="src/test/resources/freebsd.sort"/>
  <parameter name="fbsdFileLowerCase" value="src/test/resources/freebsd.lc"/>
  <parameter name="fbsdFileLowerCaseSorted" value="src/test/resources/freebsd.lc.sort"/>
  <parameter name="eignFile" value="src/test/resources/eign"/>
  <parameter name="eignFileSorted" value="src/test/resources/eign.sort"/>
  <parameter name="newLinesUnix" value="src/test/resources/newlines.unix"/>
  <parameter name="newLinesMac" value="src/test/resources/newlines.mac"/>
  <parameter name="newLinesDos" value="src/test/resources/newlines.dos"/>

  <parameter name="partialSearchWord" value=".e.e.e.e"/>
  <parameter name="partialSearchResults" value="Genevese|reserene|teleseme|terebene"/>

  <parameter name="nearSearchWord" value="Jicaque"/>
  <parameter name="nearSearchDistance" value="2"/>
  <parameter name="nearSearchResults" value="Jicaque|Jicaquean|Xicaque|macaque"/>

  <parameter name="bloomFile" value="src/test/resources/bloom.bin"/>

  <test name="tests" parallel="methods" thread-count="2">
    <groups>
      <define name="core">
        <include name="passtest" />
        <include name="entrpytest" />
        <include name="passgentest" />
        <include name="seqperftest" />
      </define>
      <define name="dict">
        <include name="wltest" />
        <include name="tttest" />
        <include name="sorttest" />
        <include name="wldicttest" />
        <include name="ttdicttest" />
        <include name="jdbcdicttest" />
        <include name="bloomdicttest" />
      </define>
      <define name="dictperf">
        <include name="ttperftest" />
        <include name="wlperftest" />
      </define>
      <run>
        <include name="core"/>
        <include name="dict"/>
        <include name="dictperf"/>
      </run>
    </groups>
    <packages>
      <package name="org.passay.*" />
    </packages>
  </test>
</suite>
